.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(60, 152, 233, 0.241);
}
img {
  width: 10%;
  margin: 20px;
  border-radius: 50%;
}
h2 {
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}
a {
  color: #0b0089;
}
