.volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}
.volunteer-card {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(60, 152, 233, 0.241);
}
h3 {
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}
